USE [master]
GO
/****** Object:  Database [EVRental]    Script Date: 10/8/2025 10:47:21 PM ******/
CREATE DATABASE [EVRental]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVRental].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVRental]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[bookingId] [bigint] IDENTITY(1,1) NOT NULL,
	[actualEndTime] [datetime2](6) NULL,
	[actualStartTime] [datetime2](6) NULL,
	[createdDate] [datetime2](6) NOT NULL,
	[endOdo] [bigint] NULL,
	[endTime] [datetime2](6) NOT NULL,
	[startOdo] [bigint] NULL,
	[startTime] [datetime2](6) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[tariffId] [bigint] NOT NULL,
	[totalAmount] [float] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[vehicle_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[contractId] [bigint] IDENTITY(1,1) NOT NULL,
	[contractPhoto] [varchar](255) NOT NULL,
	[digitalSignature] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[type] [varchar](255) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[staff_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[incident_reports]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[incident_reports](
	[reportId] [bigint] IDENTITY(1,1) NOT NULL,
	[cost] [float] NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[incidentDate] [datetime2](6) NOT NULL,
	[incidentPhoto] [varchar](255) NULL,
	[resolutionNote] [nvarchar](255) NULL,
	[severity] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[booking_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[model_image_urls]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[model_image_urls](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[color] [varchar](50) NOT NULL,
	[imageUrl] [varchar](255) NOT NULL,
	[model_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[paymentId] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [float] NOT NULL,
	[method] [varchar](255) NOT NULL,
	[paymentType] [varchar](255) NOT NULL,
	[referenceCode] [varchar](255) NOT NULL,
	[transactionDate] [datetime2](6) NOT NULL,
	[booking_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stations]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stations](
	[stationId] [bigint] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[openingHours] [varchar](255) NOT NULL,
	[stationName] [nvarchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[stationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tariffs]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tariffs](
	[tariffId] [bigint] IDENTITY(1,1) NOT NULL,
	[depositAmount] [float] NOT NULL,
	[numberOfContractAppling] [bigint] NOT NULL,
	[price] [float] NOT NULL,
	[status] [varchar](255) NOT NULL,
	[type] [varchar](255) NOT NULL,
	[model_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tariffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userId] [bigint] IDENTITY(1,1) NOT NULL,
	[createdDate] [datetime2](6) NOT NULL,
	[driveLicense] [varchar](255) NULL,
	[driveLicensePhoto] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[idCard] [varchar](255) NULL,
	[idCardPhoto] [varchar](255) NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NOT NULL,
	[role] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[updatedDate] [datetime2](6) NULL,
	[username] [varchar](255) NOT NULL,
	[station_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicle_models]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle_models](
	[modelId] [bigint] IDENTITY(1,1) NOT NULL,
	[batteryCapacity] [bigint] NOT NULL,
	[brand] [varchar](255) NOT NULL,
	[description] [nvarchar](255) NULL,
	[name] [varchar](255) NOT NULL,
	[range] [bigint] NOT NULL,
	[seat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[modelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 10/8/2025 10:47:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[vehicleId] [bigint] IDENTITY(1,1) NOT NULL,
	[color] [varchar](255) NOT NULL,
	[plateNumber] [varchar](255) NOT NULL,
	[status] [varchar](255) NOT NULL,
	[model_id] [bigint] NOT NULL,
	[station_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bookings] ON 

INSERT [dbo].[bookings] ([bookingId], [actualEndTime], [actualStartTime], [createdDate], [endOdo], [endTime], [startOdo], [startTime], [status], [tariffId], [totalAmount], [user_id], [vehicle_id]) VALUES (1, NULL, NULL, CAST(N'2025-09-10T08:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-10T10:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-10T08:00:00.0000000' AS DateTime2), N'SCHEDULED', 1, 200000, 1, 1)
INSERT [dbo].[bookings] ([bookingId], [actualEndTime], [actualStartTime], [createdDate], [endOdo], [endTime], [startOdo], [startTime], [status], [tariffId], [totalAmount], [user_id], [vehicle_id]) VALUES (2, NULL, NULL, CAST(N'2025-09-11T09:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-11T12:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-11T09:00:00.0000000' AS DateTime2), N'SCHEDULED', 2, 270000, 2, 2)
INSERT [dbo].[bookings] ([bookingId], [actualEndTime], [actualStartTime], [createdDate], [endOdo], [endTime], [startOdo], [startTime], [status], [tariffId], [totalAmount], [user_id], [vehicle_id]) VALUES (3, NULL, NULL, CAST(N'2025-09-12T10:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-12T11:30:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-12T10:00:00.0000000' AS DateTime2), N'COMPLETED', 3, 105000, 3, 3)
SET IDENTITY_INSERT [dbo].[bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[contracts] ON 

INSERT [dbo].[contracts] ([contractId], [contractPhoto], [digitalSignature], [status], [type], [booking_id], [staff_id], [user_id]) VALUES (1, N'contracts/ctr1.jpg', N'sig1', N'SIGNED', N'RENTAL', 1, 9, 1)
INSERT [dbo].[contracts] ([contractId], [contractPhoto], [digitalSignature], [status], [type], [booking_id], [staff_id], [user_id]) VALUES (2, N'contracts/ctr2.jpg', N'sig2', N'SIGNED', N'RENTAL', 2, 9, 2)
INSERT [dbo].[contracts] ([contractId], [contractPhoto], [digitalSignature], [status], [type], [booking_id], [staff_id], [user_id]) VALUES (3, N'contracts/ctr3.jpg', N'sig3', N'SIGNED', N'RENTAL', 3, 10, 3)
SET IDENTITY_INSERT [dbo].[contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[incident_reports] ON 

INSERT [dbo].[incident_reports] ([reportId], [cost], [description], [incidentDate], [incidentPhoto], [resolutionNote], [severity], [status], [booking_id]) VALUES (1, 0, N'No incident', CAST(N'2025-09-10T10:05:00.0000000' AS DateTime2), NULL, N'None', N'LOW', N'CLOSED', 1)
INSERT [dbo].[incident_reports] ([reportId], [cost], [description], [incidentDate], [incidentPhoto], [resolutionNote], [severity], [status], [booking_id]) VALUES (2, 150000, N'Minor scratch on front', CAST(N'2025-09-11T12:10:00.0000000' AS DateTime2), N'incidents/1.jpg', N'Fixed paint', N'MEDIUM', N'CLOSED', 2)
INSERT [dbo].[incident_reports] ([reportId], [cost], [description], [incidentDate], [incidentPhoto], [resolutionNote], [severity], [status], [booking_id]) VALUES (3, 0, N'No incident reported', CAST(N'2025-09-12T11:35:00.0000000' AS DateTime2), NULL, N'None', N'LOW', N'CLOSED', 3)
SET IDENTITY_INSERT [dbo].[incident_reports] OFF
GO
SET IDENTITY_INSERT [dbo].[model_image_urls] ON 

INSERT [dbo].[model_image_urls] ([id], [color], [imageUrl], [model_id]) VALUES (1, N'Red', N'images/models/1_red.jpg', 1)
INSERT [dbo].[model_image_urls] ([id], [color], [imageUrl], [model_id]) VALUES (2, N'Blue', N'images/models/2_blue.jpg', 2)
INSERT [dbo].[model_image_urls] ([id], [color], [imageUrl], [model_id]) VALUES (3, N'White', N'images/models/3_white.jpg', 3)
SET IDENTITY_INSERT [dbo].[model_image_urls] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([paymentId], [amount], [method], [paymentType], [referenceCode], [transactionDate], [booking_id]) VALUES (1, 200000, N'CARD', N'FULL', N'REF1001', CAST(N'2025-09-10T08:01:00.0000000' AS DateTime2), 1)
INSERT [dbo].[payments] ([paymentId], [amount], [method], [paymentType], [referenceCode], [transactionDate], [booking_id]) VALUES (2, 270000, N'MOMO', N'FULL', N'REF1002', CAST(N'2025-09-11T09:05:00.0000000' AS DateTime2), 2)
INSERT [dbo].[payments] ([paymentId], [amount], [method], [paymentType], [referenceCode], [transactionDate], [booking_id]) VALUES (3, 105000, N'CASH', N'FULL', N'REF1003', CAST(N'2025-09-12T10:20:00.0000000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[stations] ON 

INSERT [dbo].[stations] ([stationId], [address], [openingHours], [stationName], [status]) VALUES (1, N'N01 Lê Lợi, Quận 1, TP.HCM', N'06:00-22:00', N'Station Le Loi', N'OPEN')
INSERT [dbo].[stations] ([stationId], [address], [openingHours], [stationName], [status]) VALUES (2, N'12 Nguyễn Huệ, Quận 1, TP.HCM', N'07:00-21:00', N'Station Nguyen Hue', N'OPEN')
INSERT [dbo].[stations] ([stationId], [address], [openingHours], [stationName], [status]) VALUES (3, N'45 Phạm Ngũ Lão, Quận 1, TP.HCM', N'08:00-20:00', N'Station Pham Ngu Lao', N'OPEN')
SET IDENTITY_INSERT [dbo].[stations] OFF
GO
SET IDENTITY_INSERT [dbo].[tariffs] ON 

INSERT [dbo].[tariffs] ([tariffId], [depositAmount], [numberOfContractAppling], [price], [status], [type], [model_id]) VALUES (1, 500000, 2, 100000, N'ACTIVE', N'HOURLY', 1)
INSERT [dbo].[tariffs] ([tariffId], [depositAmount], [numberOfContractAppling], [price], [status], [type], [model_id]) VALUES (2, 400000, 1, 90000, N'ACTIVE', N'HOURLY', 2)
INSERT [dbo].[tariffs] ([tariffId], [depositAmount], [numberOfContractAppling], [price], [status], [type], [model_id]) VALUES (3, 300000, 1, 70000, N'ACTIVE', N'HOURLY', 3)
SET IDENTITY_INSERT [dbo].[tariffs] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userId], [createdDate], [driveLicense], [driveLicensePhoto], [email], [fullName], [idCard], [idCardPhoto], [password], [phone], [role], [status], [updatedDate], [username], [station_id]) VALUES (1, CAST(N'2025-09-01T08:00:00.0000000' AS DateTime2), N'DL10001', NULL, N'alice@example.com', N'Alice Nguyen', N'ID10001', NULL, N'pass123', N'0901000001', N'RENTER', N'ACTIVE', NULL, N'alice', 1)
INSERT [dbo].[users] ([userId], [createdDate], [driveLicense], [driveLicensePhoto], [email], [fullName], [idCard], [idCardPhoto], [password], [phone], [role], [status], [updatedDate], [username], [station_id]) VALUES (2, CAST(N'2025-09-02T09:00:00.0000000' AS DateTime2), N'DL10002', NULL, N'bob@example.com', N'Bob Tran', N'ID10002', NULL, N'pass123', N'0901000002', N'RENTER', N'ACTIVE', NULL, N'bob', 2)
INSERT [dbo].[users] ([userId], [createdDate], [driveLicense], [driveLicensePhoto], [email], [fullName], [idCard], [idCardPhoto], [password], [phone], [role], [status], [updatedDate], [username], [station_id]) VALUES (3, CAST(N'2025-09-03T10:00:00.0000000' AS DateTime2), N'DL10003', NULL, N'carol@example.com', N'Carol Le', N'ID10003', NULL, N'pass123', N'0901000003', N'RENTER', N'ACTIVE', NULL, N'carol', 3)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicle_models] ON 

INSERT [dbo].[vehicle_models] ([modelId], [batteryCapacity], [brand], [description], [name], [range], [seat]) VALUES (1, 12, N'VinFast', N'Model entry-level, phù hợp chạy nội đô', N'VF E1', 120, 2)
INSERT [dbo].[vehicle_models] ([modelId], [batteryCapacity], [brand], [description], [name], [range], [seat]) VALUES (2, 20, N'Yadea', N'Model phổ thông, pin bền', N'Yadea S2', 150, 2)
INSERT [dbo].[vehicle_models] ([modelId], [batteryCapacity], [brand], [description], [name], [range], [seat]) VALUES (3, 30, N'Xiaomi', N'Nhẹ, tiết kiệm điện', N'Mi Scooter Pro', 100, 1)
SET IDENTITY_INSERT [dbo].[vehicle_models] OFF
GO
SET IDENTITY_INSERT [dbo].[vehicles] ON 

INSERT [dbo].[vehicles] ([vehicleId], [color], [plateNumber], [status], [model_id], [station_id]) VALUES (1, N'Red', N'SG-AB-1001', N'BOOKED', 1, 1)
INSERT [dbo].[vehicles] ([vehicleId], [color], [plateNumber], [status], [model_id], [station_id]) VALUES (2, N'Blue', N'SG-AB-1002', N'AVAILABLE', 2, 2)
INSERT [dbo].[vehicles] ([vehicleId], [color], [plateNumber], [status], [model_id], [station_id]) VALUES (3, N'White', N'SG-AB-1003', N'IN_USE', 3, 3)
SET IDENTITY_INSERT [dbo].[vehicles] OFF
GO
/****** Object:  Index [UKqdnystk8vytyu62nupffqekcp]    Script Date: 10/8/2025 10:47:21 PM ******/
ALTER TABLE [dbo].[contracts] ADD  CONSTRAINT [UKqdnystk8vytyu62nupffqekcp] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 10/8/2025 10:47:21 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 10/8/2025 10:47:21 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK2vxaaka728ct4f01rx5mvitqj]    Script Date: 10/8/2025 10:47:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK2vxaaka728ct4f01rx5mvitqj] ON [dbo].[users]
(
	[idCard] ASC
)
WHERE ([idCard] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK8erv2xvyegblbatfe4oxscl4a]    Script Date: 10/8/2025 10:47:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK8erv2xvyegblbatfe4oxscl4a] ON [dbo].[users]
(
	[driveLicense] ASC
)
WHERE ([driveLicense] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK3cxyjj32nyowyq079ys5poh7i]    Script Date: 10/8/2025 10:47:21 PM ******/
ALTER TABLE [dbo].[vehicles] ADD  CONSTRAINT [UK3cxyjj32nyowyq079ys5poh7i] UNIQUE NONCLUSTERED 
(
	[plateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKc0062bk3bchs55diw805avxq] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([vehicleId])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKc0062bk3bchs55diw805avxq]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKeyog2oic85xg7hsu2je2lx3s6] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKeyog2oic85xg7hsu2je2lx3s6]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FKnu41nddqvjubwqfdqrdv4689j] FOREIGN KEY([staff_id])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FKnu41nddqvjubwqfdqrdv4689j]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FKpj37d9db3pto38uql32ldybn] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([bookingId])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FKpj37d9db3pto38uql32ldybn]
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD  CONSTRAINT [FKq3v8dxlubujug7dxvpauig94n] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([userId])
GO
ALTER TABLE [dbo].[contracts] CHECK CONSTRAINT [FKq3v8dxlubujug7dxvpauig94n]
GO
ALTER TABLE [dbo].[incident_reports]  WITH CHECK ADD  CONSTRAINT [FK4myd1ljdiq24g0msk9uxtsf39] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([bookingId])
GO
ALTER TABLE [dbo].[incident_reports] CHECK CONSTRAINT [FK4myd1ljdiq24g0msk9uxtsf39]
GO
ALTER TABLE [dbo].[model_image_urls]  WITH CHECK ADD  CONSTRAINT [FKjmmfvu58tttbock6k98kd4rx1] FOREIGN KEY([model_id])
REFERENCES [dbo].[vehicle_models] ([modelId])
GO
ALTER TABLE [dbo].[model_image_urls] CHECK CONSTRAINT [FKjmmfvu58tttbock6k98kd4rx1]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FKc52o2b1jkxttngufqp3t7jr3h] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([bookingId])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FKc52o2b1jkxttngufqp3t7jr3h]
GO
ALTER TABLE [dbo].[tariffs]  WITH CHECK ADD  CONSTRAINT [FKljh9wcdt9xp4cfhnf8b6ss8t8] FOREIGN KEY([model_id])
REFERENCES [dbo].[vehicle_models] ([modelId])
GO
ALTER TABLE [dbo].[tariffs] CHECK CONSTRAINT [FKljh9wcdt9xp4cfhnf8b6ss8t8]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKmsmfrn3rs2m0fs3axecv4wcjy] FOREIGN KEY([station_id])
REFERENCES [dbo].[stations] ([stationId])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKmsmfrn3rs2m0fs3axecv4wcjy]
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD  CONSTRAINT [FK9f0qoteq3qae4p1nx2phpeo6w] FOREIGN KEY([station_id])
REFERENCES [dbo].[stations] ([stationId])
GO
ALTER TABLE [dbo].[vehicles] CHECK CONSTRAINT [FK9f0qoteq3qae4p1nx2phpeo6w]
GO
ALTER TABLE [dbo].[vehicles]  WITH CHECK ADD  CONSTRAINT [FKe4n3vwcrfkcfpyp8g0jsqlr4d] FOREIGN KEY([model_id])
REFERENCES [dbo].[vehicle_models] ([modelId])
GO
ALTER TABLE [dbo].[vehicles] CHECK CONSTRAINT [FKe4n3vwcrfkcfpyp8g0jsqlr4d]
GO
USE [master]
GO
